<div class="d-flex justify-content-center mt-5 w-100 flex-wrap" >
    <form [formGroup]="form" class="form-group ">

        <div class="row">
            <div class="col-sm-12 col-12 m-2">
                <div class="input-group w-100">
                    <label for="email">Email address</label>
                    <input type="email" formControlName="email" class="form-control w-100" id="email"
                        aria-describedby="emailHelp" placeholder="youremail@anything.com">
                    <!-- <small id="errorMessage" class="form-text  text-muted">We'll never share your email with anyone else.</small> -->
                </div>

            </div>
            <div class="col-sm-12 col-12 m-2">
                <div class="input-group w-100">
                    <label for="message">Message</label>
                    <textarea id="message" formControlName="message"
                        placeholder="type here a message if you would like contact me ..."
                        class="form-control w-100"></textarea>
                </div>
            </div>

            <div class="col-sm-12 m-2">
                <div class="input-group pt-4 d-flex justify-content-end">
                    <button (click)="handlerEmail()" class="btn btn-primary w-100">
                        send
                    </button>
                </div>
            </div>

        </div>

    </form>


    <div class="map">

    </div>
</div>