#map {
    background: black;
    height: 10px;
    width: 100%;
    border: 1px solid black;
}

.iconList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;

    li {
        i {
            color: black;
        }
    }
}
.btn-send {
    background: #247ba0;
    color: #e8f1f2;
}
.contact {
    border-radius: 30px;
    margin-top: 30px;
    padding: 20px;
    background: #e8f1f2;
    color: #006494;
}
h6, label {
    color: #13293d;
}